{extend name='common/container'}
{block name="content"}
<div style="margin:0 15px 15px 15px;">
<el-card shadow="never" class="card" style="min-height:650px;">
	<el-form size="small" ref="form" :model="form" :rules="rules" label-width="90px" >
				<el-row >
					<el-col :span="24">
						<el-form-item label="银行信息" prop="bank">
							<el-input  v-model="form.bank" autoComplete="off" clearable  placeholder="请输入银行信息"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row >
					<el-col :span="24">
						<el-form-item label="交易时间" prop="jytime">
							<el-date-picker value-format="yyyy-MM-dd HH:mm:ss" type="datetime" v-model="form.jytime" clearable placeholder="请输入交易时间"></el-date-picker>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row >
					<el-col :span="24">
						<el-form-item label="交易金额" prop="amount">
							<el-input  v-model="form.amount" autoComplete="off" clearable  placeholder="请输入交易金额"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row >
					<el-col :span="24">
						<el-form-item label="对方户名" prop="accname">
							<el-input  v-model="form.accname" autoComplete="off" clearable  placeholder="请输入对方户名"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row >
					<el-col :span="24">
						<el-form-item label="冻结状态" prop="dj">
							<el-switch :active-value="'1'" :inactive-value="'0'" v-model="form.dj"></el-switch>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row >
					<el-col :span="24">
						<el-form-item label="认领状态" prop="type">
							<el-select style="width:100%" v-model="form.rl" filterable clearable placeholder="请选择认领状态">
								<el-option key="0" label="正常" :value="'1'"></el-option>
								<el-option key="1" label="未认领" :value="'0'"></el-option>
							</el-select>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row >
					<el-col :span="24">
						<el-form-item label="用户id" prop="tgid">
							<el-input  v-model="form.tgid" autoComplete="off" clearable  placeholder="请输入用户id"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row >
					<el-col :span="24">
						<el-form-item label="用户名" prop="tgname">
							<el-input  v-model="form.tgname" autoComplete="off" clearable  placeholder="请输入用户名"></el-input>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row >
					<el-col :span="24">
						<el-form-item label="群id" prop="type">
							<el-select  style="width:100%" v-model="form.group_id" filterable clearable placeholder="请选择群id">
								<el-option v-for="(item,i) in group_ids" :key="i" :label="item.key" :value="item.val.toString()"></el-option>
							</el-select>
						</el-form-item>
					</el-col>
				</el-row>
		<el-form-item>
			<el-button size="small" type="primary" @click="submit">保存设置</el-button>
		</el-form-item>
	</el-form>
</el-card>
</div>
{/block}
{block name="script"}
<script src="__PUBLIC__/assets/js/app.js"></script>
<script>
new Vue({
	el: '#app',
	components:{
	},
	data(){
		return {
			form: {
				bank:'',
				jytime:'',
				amount:'',
				accname:'',
				dj:0,
				rl:0,
				tgid:'',
				tgname:'',
				group_id:'',
				rltime:'',
			},
			group_ids:[],
			loading:false,
			rules: {
				amount:[
					{pattern:/(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/, message: '交易金额格式错误'}
				],
			}
		}
	},
	mounted(){
		axios.post(base_url + '/Order/getInfo').then(res => {
			if(res.data.status == 200){
				this.form = JSON.stringify(res.data.data) == '[]' ? {} : res.data.data
				this.group_ids = res.data.sql_field_data.group_ids
				this.form.jytime = res.data.data.jytime ?  parseTime(res.data.data.jytime) : ''
				this.form.rltime = res.data.data.rltime ?  parseTime(res.data.data.rltime) : ''
			}
		})
	},
	methods: {
		submit(){
			this.$refs['form'].validate(valid => {
				if(valid) {
					this.loading = true
					axios.post(base_url + '/Order/allpost',this.form).then(res => {
						if(res.data.status == 200){
							this.$message({message: res.data.msg, type: 'success'})
						}else{
							this.loading = false
							this.$message.error(res.data.msg)
						}
					}).catch(()=>{
						this.loading = false
					})
				}
			})
		},
	}
})
</script>
{/block}